# do not track node_modules dir, or anything in that dir
node_modules/

# also ignore the npm debug log
npm-debug.log

# on macOS filesystems ignore .DS_Store
**/.DS_Store

# ignore cloned version for deployment to heroku
gitClone/
